<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.sjs.mental.mapper.RoleMapper">
    <select id="getRoleMenus" resultType="Menu">
        select b.* from t_role_menu a
        inner join t_menu b on a.menuId = b.id
        where a.roleId=#{id}
    </select>
</mapper>

  